@import "tailwindcss";
@import "@fontsource/lato/index.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: 'Lato', sans-serif;
}

/* Support to dark mode (TO-DO)
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

*, *::before, *::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:focus {
  outline: 2px solid #3b82f6;
  outline-offset: 2px;
}